

.container {
    display: flex;
}

.header {
    background-color: #1F2937;
    flex-direction: column;
    padding-bottom: 150px;
    margin: 0;

}


.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: #F9FAF8;
}


ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

a:visited {
    color: none;
}


.modal {
    display: flex;
    justify-content: space-around;
    
}

.modal-content {
    flex-direction: column;
    margin: 0 150px;
}

 .modal .text {
    padding: 0;
    margin: 0 400px 0 0;
    color: #E5E7EB;
}

 .modal h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;

}


.header .modal img {
    width: 500px;
    height: 200px;
    padding: 0;
    margin: 0;
}

.info {
    flex-direction: column;
    align-items: center;
}

.info h2 {
    margin: 50px 0;
}

.info .image img {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: burlywood;
    border-radius: .25rem;
}

.images-container {
    display: flex;
    margin: 0 100px;
    gap: 10px;
    margin-bottom: 100px;
}

.info .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image p {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 450px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}

.quote #content {
    font-size: 36px;
    font-style: italic;
    padding: 0;
    margin: 0;
    color: #1F2937;
    font-weight: 100;
}

.quote #author {
    padding: 0;
    margin: 0;
    align-self: flex-end;
    font-weight: 900;
    font-size: 24px;
}

.signup {
    padding: 20px;
    margin: 100px 250px;
    background-color: #3882F6;
    border-radius: .5rem;
    justify-content: space-around;
    align-items: center;
}

.signup h3 {
    padding: 0;
    margin: 0;
    color: #F9FAF8;
    font-size: 24px;

}

.signup p {
    padding: 0;
    margin: 0;
}

.signup-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
